---

    export interface Props {
    background: string,
    id?: string,
    styles?: string
    }
    const { id, background, styles } = Astro.props;
    //lg:container py-16 grid lg:grid-cols-2 gap-4
    const tailwindClass = `lg:container mobile-full-w bg-transparent py-16 lg:rounded w-full ${styles}`

---

<section id={id} class={background}>
    <div class={tailwindClass}>
      <slot />
    </div>
  </section>
