---
  import AppLayout from '../components/AppLayout.astro'
  import Section from '../components/Section.astro'
  import SectionText from '../components/SectionText.astro'
---
<AppLayout>
  <Section background="bg-white">
    <SectionText textColor="text-secondary" title="AVISO LEGAL" isCenter={false}>
      <p class="mb-4">Para dar cumplimiento a lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, a continuación indicamos los datos de la información general de nuestro Sitio Web:</p>
      <section>
        <h2 class="my-8">¿QUIÉN ES EL RESPONSABLE DEL TRATAMIENTO DE SUS DATOS?</h2>
        <p>DENOMINACIÓN SOCIAL: Mecanizados Kapelamendi S.L.L.</p>
        <p>NIF/CIF: B01393586</p>
        <p>DOMICILIO SOCIAL: Calle Kapelamendi, 3 - BJ, Vitoria-gasteiz, 01013 , Araba/Alava</p>
        <p class="my-8">DATOS DE INSCRIPCIÓN EN EL REGISTRO MERCANTIL DE ALAVA</p>
        <div class="flex flex-col lg:flex-row my-8">
          <div class="border-2 border-secondary w-full text-center">
            <div class="border-b-2 border-secondary p-4">
              TOMO
            </div>
            <div class="p-4">
              XXXX
            </div>
          </div>
          <div class="border-2 border-secondary w-full text-center">
            <div class="border-b-2 border-secondary p-4">
              LIBRO
            </div>
            <div class="p-4">
              XXXX
            </div>
          </div>
          <div class="border-2 border-secondary w-full text-center">
            <div class="border-b-2 border-secondary p-4">
              INSCRIPCIÓN
            </div>
            <div class="p-4">
              XXXX
            </div>
          </div>
          <div class="border-2 border-secondary w-full text-center">
            <div class="border-b-2 border-secondary p-4">
              FOLIO
            </div>
           <div class="p-4">
              XXXX
            </div>
          </div>
          <div class="border-2 border-secondary w-full text-center">
            <div class="border-b-2 border-secondary p-4">
              HOJA
            </div>
            <div class="p-4">
              XXXX
            </div>
          </div>
        </div>
        <p>TELÉFONO: 945 26 16 00</p>
        <p>DPO: Mecanizados Kapelamendi S.L.L. dispone de un Delegado de Protección de Datos con el que puede contactar a través de administracion@kapelamendi.com o por escrito a la dirección postal señalada arriba</p>
        <p>DIRECCIÓN DE CORREO ELECTRÓNICO: administracion@kapelamendi.com</p>
        <p>NOMBRE DE DOMINIO: kapelamendi.com</p>
        <p>Nuestra Web dispone de las medidas de seguridad de la información para evitar el acceso no autorizado a los datos personales.</p>
      </section>
      <section>
        <h2 class="my-8">CONDICIONES GENERALES Y SU ACEPTACIÓN</h2>
        <p>Estas condiciones generales regulan el uso de los servicios que Mecanizados Kapelamendi S.L.L. pone a disposición de los usuarios del Sitio Web kapelamendi.com (en adelante “el Sitio Web”)</p>
        <p>La utilización de los servicios atribuye la condición de usuario y conlleva la aceptación de las condiciones generales en el momento en el que el usuario acceda a los mismos.</p>
        <p>El Sitio Web ha sido creado para publicar su oferta de servicios, y para facilitar la contratación de los mismos.</p>
        <p>Si accede a este Sitio Web está declarando ser mayor de edad y estar facultado de la capacidad legal suficiente para vincularse a los términos y condiciones que se ponen a su predisposición, y que lo hace bajo su única y exclusiva responsabilidad. Si no estuviese conforme con el contenido de los presentes términos, debe desamparar el Sitio Web.</p>
        <p>El acceso al Sitio Web es libre y gratis para poder informarle de los servicios ofertados.</p>
        <p>El usuario podrá navegar y usar la Web sin necesidad de aportar ningún dato de carácter personal. Los únicos datos personales a los que Mecanizados Kapelamendi S.L.L. tendrá acceso serán aquellos que el usuario facilite voluntariamente cuando contacte con Mecanizados Kapelamendi S.L.L. a través de correo electrónico o de cualquier otro modo previsto en la Web. Si se recogen datos personales a través de cookies, se le informará debidamente a través de la Política de Cookies así como a través de los cauces que requiere la legislación vigente.</p>
      </section>
      <section>
        <h2 class="my-8">OBJETO</h2>
        <p>Las presentes condiciones generales regulan todos los servicios ofrecidos a través del Sitio Web, así como la utilización de los mismos por parte de los usuarios.</p>
      </section>
      <section>
        <h2 class="my-8">DATOS DE CARÁCTER PERSONAL</h2>
        <p>Mecanizados Kapelamendi S.L.L. cumple con las directrices del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD), velando en todo momento por garantizar un correcto uso y tratamiento de los datos personales del usuario.</p>
      </section>
      <section>
        <h2 class="my-8">DATOS DEL RESPONSABLE DEL TRATAMIENTO</h2>
        <p>Mecanizados Kapelamendi S.L.L. con CIF B01393586 y domicilio profesional en Kapelamendi, 3 - BJ, Vitoria-gasteiz, 01013 , Araba/Alava y como responsable de los registros de tratamiento correspondientes para la gestión de los datos recogidos.</p>
      </section>
      <section>
        <h2 class="my-8">DATOS DEL USUARIO</h2>
        <p>Por medio del presente escrito se le informa que los datos personales facilitados voluntariamente por usted serán incorporados a los registros de tratamiento responsabilidad de nuestra entidad y  pasarán a formar parte de nuestra base de datos.</p>
        <p>No tratamos datos de menores de 14 años. Por tanto, absténgase de facilitarlos si no tiene esa edad o, en su caso, de facilitar datos de terceros que no tengan la citada edad. Mecanizados Kapelamendi S.L.L. se exime de cualquier responsabilidad por el incumplimiento de esta previsión.</p>
        <p>El usuario del Sitio Web será el único responsable de la veracidad y exactitud de los datos aportados, actuando Mecanizados Kapelamendi S.L.L. de buena fe como mero prestador de los servicios. En caso de haber facilitado datos falsos o de terceras personas sin mediar su consentimiento para ello, Mecanizados Kapelamendi S.L.L. se reserva el derecho a la destrucción inmediata de los citados datos a fin de proteger el derecho del titular o titulares de los mismos eximiéndose Mecanizados Kapelamendi S.L.L. de cualquier responsabilidad por el incumplimiento de este requisito.</p>
        <p>Mecanizados Kapelamendi S.L.L. se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de guardarlos y adoptará todas las medidas de índole técnica y organizativa para garantizar la seguridad de los datos de carácter personal y evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos, todo ello de conformidad con lo establecido en la normativa.</p>
      </section>
      <section>
        <h2 class="my-8">FUNCIONAMIENTO WEB</h2>
        <p>Mecanizados Kapelamendi S.L.L. no puede asegurar que no se generen interrupciones o bien fallos en el acceso al Sitio Web. Sin embargo, existe el firme compromiso, tan pronto como tenga conocimiento de semejantes incidencias, de hacer todas y cada una de las actuaciones dirigidas a su restablecimiento o bien reparación, salvo la concurrencia de causas extrañas a la voluntad de Mecanizados Kapelamendi S.L.L. que lo imposibiliten o bien compliquen su ejecución.</p>
        <p>Mecanizados Kapelamendi S.L.L. no va a ser responsable en ningún caso de los perjuicios o bien daños de cualquier clase que pudiesen causar la visita a esta Web, así sea por fallo o bien omisión en los contenidos o bien por la transmisión de algún programa malicioso que se genere pese a haber tomado las medidas tecnológicas precisas para evitarlo, ni le podrán ser exigidas responsabilidades por la interrupción del servicio, inadecuado funcionamiento o imposibilidad de acceso al servicio.</p>
        <p>Cualquier usuario que inserte un contenido que contravenga la legalidad vigente asumirá la responsabilidad exclusiva de los perjuicios y consecuencias derivadas de la misma, eximiendo a Mecanizados Kapelamendi S.L.L. de cualquier responsabilidad.</p>
      </section>
      <section>
        <h2 class="my-8">PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
        <p>La totalidad de los elementos y/o contenidos puestos a su predisposición en el Sitio Web han sido creados por Mecanizados Kapelamendi S.L.L. o bien exactamente la misma dispone de una licencia o bien autorización para su utilización.</p>
        <p>Por ende, todos esos elementos y/o contenidos (semejantes como: imágenes, audio, vídeo, software o bien textos; marcas o bien logos, combinaciones de colores, estructura y diseño, aplicaciones precisas para su funcionamiento, acceso y empleo, etcétera) y los derechos que se pueden ostentar sobre exactamente los mismos, son de titularidad exclusiva de Mecanizados Kapelamendi S.L.L.</p>
        <p>Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte del titular del dominio.</p>
        <p>El usuario se compromete a no realizar ningún acto en contra de los derechos de propiedad intelectual o industrial del autor.</p>
      </section>
      <section>
        <h2 class="my-8">USO DE ENLACES</h2>
        <p>Mecanizados Kapelamendi S.L.L. no acepta ningún género de responsabilidad, siquiera de manera indirecta o bien subsidiaria, por los contenidos, informaciones, comunicaciones, creencias o bien servicios enlazados desde esos Sitios Webs no gestionados por Mecanizados Kapelamendi S.L.L. y que resulten alcanzables mediante la Web, ni garantiza la ausencia de virus o bien otros elementos en exactamente los mismos que puedan generar perturbaciones en el sistema informático (hardware y software), en los documentos o bien los archivos del usuario, excluyendo cualquier responsabilidad por los daños de cualquier tipo ocasionados al usuario por esta razón.</p>
      </section>
      <section>
        <h2 class="my-8">INCUMPLIMIENTO DE LAS CONDICIONES</h2>
        <p>Cualquier incumplimiento puede ser perseguido, así como cualquier uso indebido de la Web, pudiendo Mecanizados Kapelamendi S.L.L. ejercitar cuantas acciones legales le correspondan en defensa de sus legítimos intereses. Incluso se reserva el derecho de limitar o prohibir el acceso a usuarios que la incumplan.</p>
      </section>
      <section>
        <h2 class="my-8">LEGISLACIÓN APLICABLE</h2>
        <p>Estas condiciones legales se han redactado en base a la legislación Española.</p>
      </section>
      <section>
        <h2 class="my-8">MODIFICACIÓN DEL AVISO LEGAL</h2>
        <p>Mecanizados Kapelamendi S.L.L. se reserva el derecho a introducir modificaciones en este Aviso Legal, por ello se aconseja a los Usuarios que lo visiten periódicamente.</p>
        <p>Cuando se produzcan cambios significativos en este Aviso Legal, se comunicarán a los usuarios para su aceptación mediante avisos en el Portal o a través de correo electrónico o bien través de cualquier otro procedimiento adecuado según las circunstancias.</p>
      </section>
    </SectionText>
  </Section>
</AppLayout>
