---
  import AppLayout from '../components/AppLayout.astro'
  import Section from '../components/Section.astro'
  import SectionText from '../components/SectionText.astro'
---
<AppLayout>
  <Section background="bg-white">
    <SectionText textColor="text-secondary" title="POLÍTICA DE COOKIES" isCenter={false}>
      <section>
        <h2 class="my-8">¿NUESTRA PÁGINA USA COOKIES?</h2>
        <p>Las cookies son pequeños archivos de texto que las páginas web pueden utilizar para hacer más eficiente la experiencia del usuario.</p>
        <p>La ley afirma que podemos almacenar cookies en su dispositivo si son estrictamente necesarias para el funcionamiento de esta página. Para todos los demás tipos de cookies necesitamos su permiso.</p>
        <p>Esta página no utiliza ningún tipo de cookie.</p>
      </section>
    </SectionText>
  </Section>
</AppLayout>
