---
  import AppLayout from '../components/AppLayout.astro'
  import Section from '../components/Section.astro'
  import SectionText from '../components/SectionText.astro'
---
<AppLayout>
  <Section background="bg-white">
    <SectionText textColor="text-secondary" title="POLÍTICA DE PRIVACIDAD" isCenter={false}>
      <p>Esta Política de Privacidad tiene por objeto informar a los usuarios sobre la recogida y tratamiento de los datos personales obtenidos a través de la web kapelamendi.com (en adelante “el Sitio Web”)</p>
      <p class="mb-4">Mecanizados Kapelamendi S.L.L. cumple con las directrices del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD), velando en todo momento por garantizar un correcto uso y tratamiento de los datos personales del usuario.</p>
      <section>
        <h2 class="my-8">¿QUÉ DATOS RECOPILAMOS A TRAVÉS DE LA WEB?</h2>
        <p>Puede visitar y utilizar los servicios del Sitio Web sin identificarse ni revelar ninguna información personal sobre usted. Podemos tratar su IP, qué sistema operativo o navegador usa, e incluso la duración de su visita de forma anónima.</p>
        <p>Los únicos datos personales a los que Mecanizados Kapelamendi S.L.L. tendrá acceso serán aquellos que el usuario facilite voluntariamente cuando contacte con Mecanizados Kapelamendi S.L.L. a través de correo electrónico o de cualquier otro modo previsto en la web.</p>
        <p>En concreto, Mecanizados Kapelamendi S.L.L. registrará la siguiente información:</p>
        <p>Datos facilitados a través del formulario de contacto o por teléfono por el usuario interesado en obtener información sobre nuestros servicios o realizar cualquier tipo de consulta o solicitud, facilita a Mecanizados Kapelamendi S.L.L.</p>
        <p>Datos facilitados mediante aplicaciones informáticas o el envío de correos electrónicos o a las direcciones que se identifiquen en la web.</p>
      </section>
      <section>
        <h2 class="my-8">¿CUÁL ES LA LEGITIMACIÓN PARA EL TRATAMIENTO DE SUS DATOS?</h2>
        <p>La base legal de los tratamientos es el consentimiento otorgado por los usuarios prestado mediante la aceptación de la presente Política de Privacidad y las casillas correspondientes, e implicará que ha sido informado y ha otorgado expresamente su consentimiento al contenido de la cláusula anexada a dicho formulario o aceptación de la política de privacidad.</p>
      </section>
      <section>
        <h2 class="my-8">¿CON QUÉ FINALIDAD VAMOS A TRATAR SUS DATOS PERSONALES?</h2>
        <p>De conformidad con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD), le informamos que los datos de carácter personal que voluntariamente nos facilite a través de los distintos formularios de entrada dispuestos al efecto en el Sitio Web o en cualquier otro canal de recogida de los mismos, serán incorporados a los registros de tratamiento responsabilidad de Mecanizados Kapelamendi S.L.L. para la gestión de los datos recogidos con las siguientes finalidades:</p>
          <ul class="list-disc px-10 m-4">
          <li>
            Solucionar cualquier consulta, solicitud o petición realizada
          </li>
          <li>
            Gestionar el servicio solicitado, contestar su solicitud o tramitar su petición
          </li>
          <li>
            Cualquier otra finalidad a la que se refieran los formularios y funcionalidades ofrecidas en cada momento a través del Portal.
          </li>
          <li>
            Dar asistencia online a través de intermediarios que serán responsables de dichos datos, videoconsultas o imágenes.
          </li>
          <li>
            Mantener comunicaciones de carácter informativo que la entidad considere de su interés a través de cualquier medio facilitado que versen sobre servicios similares a los solicitados. En cuyos casos, solo con las finalidades y los usos exclusivamente necesarios para el que fueron requeridos sus servicios, no pudiendo usar los mismos para un fin distinto. Para cualquier cesión distinta de lo especificado anteriormente, usted será debidamente informado, pudiendo ejercer su derecho de oposición en cualquier momento.
          </li>
          <li>
            Realizar análisis y mejoras en la web sobre nuevos servicios
          </li>
          <li>
            Darse de baja de nuestros servicios
          </li>
          </ul>
      </section>
      <section>
        <h2 class="my-8">¿A QUÉ DESTINATARIOS SE COMUNICARÁN SUS DATOS?</h2>
        <p>Los datos recabados son los adecuados, pertinentes y no excesivos en relación con el ámbito y finalidades descritos. Sus datos serán tratados y almacenados cumpliendo con las medidas de seguridad descritas según normativa vigente y garantizando en todo momento su integridad y confidencialidad.</p>
        <p>Sus datos no se cederán a terceros, salvo obligación legal ni serán compartidos con empresas ni entidades ajenas a Mecanizados Kapelamendi S.L.L.. Se le informa de las siguientes posibles cesiones de sus datos:</p>
        <ul class="list-disc px-10 m-4">
          <li>
            a estamentos públicos y privados necesarios para el cumplimiento de las obligaciones legales en virtud de la normativa vigente
          </li>
          <li>
            a entidades financieras para la gestión de cobros y pagos
          </li>
          <li>
            a proveedores de servicios de cobro y de contabilidad
          </li>
          <li>
            a profesionales y empresas de asesoramiento legal, consultoría y/o auditoría
          </li>
          <li>
            a los encargados del tratamiento necesarios para la ejecución del contrato correspondiente de prestación de servicios
          </li>
          <li>
            a empresas encargadas de nuestro soporte y mantenimiento web
          </li>
          <li>
            a empresas encargadas de nuestro soporte y mantenimiento sistema informático
          </li>
          <li>
            a empresas encargadas de nuestro soporte y mantenimiento software de gestión
          </li>
          <li>
            a plataformas online para videoconferencia, chat y pantalla compartida. En caso de consultas online o videoconferencias deberá conocer y aceptar la política de protección de datos de las empresas o aplicaciones informáticas que hacen posible la conexión virtual entre las partes
          </li>
          <li>
            a empresas encargadas de nuestro soporte y mantenimiento servidor y servicio cloud
          </li>
          <li>
            en caso de que se produjera cualquier transferencia internacional de datos al usar aplicaciones, se llevaría a cabo con estricto cumplimiento y con todas las garantías necesarias para el cumplimiento de las políticas de protección de datos europeas en materia de privacidad salvo en caso de empresas extracomunitarias acogidas a normativas propias de otros países cuya política de protección de datos deberán ser conocidas y consultadas por el usuario en caso de consultas online.
          </li>
          <li>
            al resto de empresas y colaboradores para gestiones administrativas y/o comerciales, para la gestión de las finalidades anteriormente descritas, para la prestación de servicios y la correcta gestión de la entidad y de sus diferentes actividades
          </li>
          <li>
            En cuyos casos, solo con las finalidades y los usos exclusivamente necesarios para el desarrollo de su actividad para el que fueron requeridos sus servicios, no pudiendo usar los mismos para un fin distinto. Para cualquier cesión distinta de lo especificado anteriormente, usted será debidamente informado, pudiendo ejercer su derecho de oposición en cualquier momento.
          </li>
          <li>
            El consentimiento se entenderá prestado en tanto no nos comunique expresamente la revocación del mismo a alguno de los tratamientos indicados anteriormente.
          </li>
          <li>
            Al facilitarnos su email y/o teléfono, usted consiente expresamente que nos podamos poner en contacto con usted a través de estos medios.
          </li>
          <li>
            El usuario del Sitio Web será el único responsable de la veracidad y exactitud de los datos aportados, actuando Mecanizados Kapelamendi S.L.L. de buena fe como mero prestador del servicio. En caso de haber facilitado datos falsos o de terceras personas sin mediar su consentimiento para ello, Mecanizados Kapelamendi S.L.L. se reserva el derecho a la destrucción inmediata de los citados datos a fin de proteger el derecho del titular o titulares de los mismos eximiéndose Mecanizados Kapelamendi S.L.L. de cualquier responsabilidad por el incumplimiento de este requisito.
          </li>
          <li>
            Mecanizados Kapelamendi S.L.L. se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y de su deber de guardarlos y adoptará todas las medidas de índole técnica y organizativa para garantizar la seguridad de los datos de carácter personal y evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos, todo ello de conformidad con lo establecido en la normativa.
          </li>
        </ul>
      </section>
      <section>
        <h2 class="my-8">¿DATOS DE MENORES?</h2>
        <p>No tratamos datos de menores de 14 años. Por tanto, absténgase de facilitarlos si no tiene esa edad o, en su caso, de facilitar datos de terceros que no tengan la citada edad. Mecanizados Kapelamendi S.L.L. se exime de cualquier responsabilidad por el incumplimiento de esta previsión.</p>
      </section>
      <section>
        <h2 class="my-8">¿QUÉ DERECHOS TIENE?</h2>
        <p>A saber si estamos tratando sus datos o no</p>
        <p>A acceder a sus datos personales</p>
        <p>A solicitar la rectificación de sus datos si son inexactos</p>
        <p>A solicitar la supresión de sus datos si ya no son necesarios para los fines para los que fueron recogidos o si nos retira el consentimiento otorgado</p>
        <p>A solicitar la limitación del tratamiento de sus datos, en algunos supuestos, en cuyo caso solo los conservaremos de acuerdo con la normativa vigente</p>
        <p>A portar sus datos, que le serán facilitados en un formato estructurado, de uso común o lectura mecánica. Si lo prefiere, se los podemos enviar al nuevo responsable que nos designe. Solo es válido en determinados supuestos</p>
        <p>A presentar una reclamación ante la Agencia Española de Protección de Datos o autoridad de control competente, si cree que no le hemos atendido correctamente</p>
        <p>A revocar el consentimiento para cualquier tratamiento para el que haya consentido, en cualquier momento.</p>
        <p>Si modifica algún dato, le agradecemos que nos lo comunique para mantenerlos actualizados.</p>
        <p>El usuario del Sitio Web podrá en cualquier momento ejercer estos derechos en los términos establecidos en la normativa vigente, dirigiéndose al responsable del tratamiento:</p>
        <p>Por escrito a la dirección de la entidad: Calle Kapelamendi, 3 - BJ, Vitoria-gasteiz, 01013 , Araba/Alava</p>
        <p>Por correo electrónico a la dirección administracion@kapelamendi.com</p>
        <p>En su caso, puede contactar con el Delegado de Protección de Datos dirigiéndose por escrito a la dirección de correo administracion@kapelamendi.com o a la dirección postal anteriormente indicada.</p>
      </section>
      <section>
        <h2 class="my-8">¿QUIERE UN FORMULARIO PARA EL EJERCICIO DE SUS DERECHOS?</h2>
        <p>Tenemos formularios para el ejercicio de sus derechos, pídanoslos por email o si lo prefiere, puede usar los elaborados por la Agencia Española de Protección de Datos o terceros. Estos formularios deben ir firmados electrónicamente o ser acompañados de fotocopia del DNI. Si se representa a alguien, debe adjuntarnos copia de su DNI, o que lo firme con su firma electrónica.</p>
      </section>
      <section>
        <h2 class="my-8">¿CUÁNTO TARDAMOS EN CONTESTARLE AL EJERCICIO DE DERECHOS?</h2>
        <p>Depende del derecho, pero como máximo en un mes desde su solicitud, y dos meses si el tema es muy complejo y le notificamos que necesitamos más tiempo.</p>
      </section>
      <section>
        <h2 class="my-8">¿DURANTE CUÁNTO TIEMPO VAMOS A MANTENER SUS DATOS PERSONALES?</h2>
        <p>Los datos personales serán mantenidos mientras siga vinculado con nosotros</p>
        <p>Una vez se desvincule, los datos personales tratados en cada finalidad se mantendrán durante los plazos legalmente previstos, incluido el plazo en el que un Juez o Tribunal los pueda requerir atendiendo al plazo de prescripción de acciones judiciales</p>
        <p>Los datos tratados se mantendrán en tanto no expiren los plazos legales aludidos anteriormente, si hubiera obligación legal de mantenimiento, o de no existir ese plazo legal, hasta que el interesado solicite su supresión o revoque el consentimiento otorgado</p>
        <p>Mantendremos toda la información y comunicaciones relativas a la prestación de nuestro servicio, mientras duren las garantías de los servicios para atender posibles reclamaciones</p>
        <p>Transcurridos los citados plazos, los datos personales de los usuarios podrán ser bloqueados y mantenidos por Mecanizados Kapelamendi S.L.L. para la atención de las posibles responsabilidades nacidas del tratamiento y sólo durante el plazo de prescripción de dichas responsabilidades. Pasado dicho periodo, los datos personales serán borrados por Mecanizados Kapelamendi S.L.L.</p>
      </section>
      <section>
        <h2 class="my-8">¿SEGURIDAD, COOKIES Y DIRECCIONES IP?</h2>
        <p>El Sitio Web utiliza técnicas de seguridad de la información generalmente aceptadas en la industria, tales como firewalls, procedimientos de control de acceso y mecanismos criptográficos, todo ello con el objeto de evitar el acceso no autorizado a los datos. Para lograr estos fines, el usuario acepta que el prestador obtenga datos para efectos de la correspondiente autenticación de los controles de acceso.</p>
      </section>
      <section>
        <h2 class="my-8">NOTIFICACIÓN DE BRECHAS DE LA SEGURIDAD DE LOS DATOS PERSONALES</h2>
        <p>En caso de vulnerarse la seguridad de los datos personales, a menos que sea improbable que dicha violación de la seguridad constituya un riesgo para los derechos y las libertades de las personas físicas, Mecanizados Kapelamendi S.L.L. notificará a la Agencia Española de Protección de Datos antes de transcurridas 72 horas después de que haya tenido constancia del incidente, describiendo la naturaleza de la violación, las posibles consecuencias que pudieran derivarse y las medidas adoptadas o propuestas para poner remedio a la brecha de seguridad; y si fuera posible, se hará saber cuáles son las categorías y el número aproximado de interesados y datos afectados.</p>
        <p>Asimismo, Mecanizados Kapelamendi S.L.L. notificará a los interesados, a la mayor brevedad posible, cuando sea probable que la violación de la seguridad de los datos personales entrañe un alto riesgo para los derechos y libertades de las personas físicas, describiendo las posibles consecuencias que pudieran derivarse y las medidas adoptadas o propuestas para poner remedio a la brecha de seguridad.</p>
      </section>
      <section>
        <h2 class="my-8">USO DE COOKIES Y DEL FICHERO DE ACTIVIDAD</h2>
        <p>Si usamos otro tipo de cookies que no sean las necesarias, podrá consultar la política de cookies en el enlace correspondiente desde el inicio de nuestra web.</p>
        <p>El prestador por su propia cuenta o la de un tercero contratado para la prestación de servicios de medición, pueden utilizar cookies cuando un usuario navega por el Sitio Web. Las cookies son ficheros enviados al navegador por medio de un servidor web con la finalidad de registrar las actividades del usuario durante su tiempo de navegación. Las cookies utilizadas por el Sitio Web se asocian únicamente con un usuario anónimo y su ordenador, y no proporcionan por sí mismas los datos personales del usuario. Mediante el uso de las cookies resulta posible que el servidor donde se encuentra la web, reconozca el navegador web utilizado por el usuario con la finalidad de que la navegación sea más sencilla, permitiendo, por ejemplo, el acceso a los usuarios que se hayan registrado previamente, acceder a las áreas, servicios, promociones o concursos reservados exclusivamente a ellos sin tener que registrarse en cada visita. Se utilizan también para medir la audiencia y parámetros del tráfico, controlar el progreso y número de entradas. El usuario tiene la posibilidad de configurar su navegador para ser avisado de la recepción de cookies y para impedir su instalación en su equipo. Por favor, consulte las instrucciones y manuales de su navegador para ampliar esta información. Para utilizar el Sitio Web, no resulta necesario que el usuario permita la instalación de las cookies enviadas por el Sitio Web, o el tercero que actúe en su nombre, sin perjuicio de que sea necesario que el usuario inicie una sesión como tal en cada uno de los servicios cuya prestación requiera el previo registro o login. Las cookies utilizadas en este Sitio Web tienen, en todo caso, carácter temporal con la única finalidad de hacer más eficaz su transmisión ulterior. En ningún caso se utilizarán las cookies para recoger información de carácter personal.</p>
      </section>
      <section>
        <h2 class="my-8">DIRECCIONES IP</h2>
        <p>Los servidores del Sitio Web podrán detectar de manera automática la dirección IP y el nombre de dominio utilizados por el usuario. Una dirección IP es un número asignado automáticamente a un ordenador cuando ésta se conecta a Internet. Toda esta información es registrada en un fichero de actividad del servidor debidamente inscrito que permite el posterior procesamiento de los datos con el fin de obtener mediciones únicamente estadísticas que permitan conocer el número de impresiones de páginas, el número de visitas realizadas a los servicios web, el orden de visitas, el punto de acceso, etc.</p>
      </section>
    </SectionText>
  </Section>
</AppLayout>
