---
  export interface Props {
    textColor: string,
    title: string,
    isCenter?: Boolean
  }
  const { textColor, title, isCenter = true } = Astro.props;

  let tailwindClass

  if (isCenter) tailwindClass = `${textColor} mt-4 text-center`
  else  tailwindClass = `${textColor} mt-4`

---


<div class="pb-16 lg:px-16">
  <div class={tailwindClass}>
    <h2 class="text-2xl font-bold mb-6">{title}</h2>
    <slot />
  </div>
</div>